*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: linear-gradient(skyblue, red , white);
    height: 100vh;
    text-align: center;
    

}
label{
    line-height: 60px;
    font-size: large;
    font-weight: bold;
}
input{
    border-radius: 5px;
    outline: none;
    outline-offset: none;
    border: none;
    font-size: x-large;
    width: 200px;
    background-color: rgba(199, 255, 255, 0.999);

}
label[for = "ipt2"]{
    position: relative;
    right: 20px;
}
#ipt2{
    position: relative;
    right: 20px;
}
button{
    border: 20px solid transparent;
    font-size: small;
    font-weight: bold;
    border-radius: 10px;
    width: 200px;
    position: relative;
    top: 25px;
    cursor: pointer;
    background-color: rgba(72, 253, 253, 0.999);;

}
button:hover{
    background-color: rgba(0, 204, 204, 0.999);;
    

}
.Employees_data{
    border: 2px solid transparent;
    border-radius: 10px;
    width: 80%;
    height: 40vh;
    position: absolute;
    bottom: -10%;
    left: 10%;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;

}
.data{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: aquamarine;
    text-align: center;
   padding-top:28px;
   box-sizing: border-box;
   margin: 20px;
}